*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    margin: 0;
    height: 1000px;
    max-height: 1000px;
}

.carousel-item{
    max-height: 500px;
    width: 100%;

}  
.carousel-item img{
    width: 100%;
    background-size: cover;
}